<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OCEAN_MODEL</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Candidateloginser</display-name>
    <servlet-name>Candidateloginser</servlet-name>
    <servlet-class>Candidateloginser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidateloginser</servlet-name>
    <url-pattern>/Candidateloginser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidatesignupser</display-name>
    <servlet-name>Candidatesignupser</servlet-name>
    <servlet-class>Candidatesignupser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidatesignupser</servlet-name>
    <url-pattern>/Candidatesignupser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRRegistration</display-name>
    <servlet-name>HRRegistration</servlet-name>
    <servlet-class>HRRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRRegistration</servlet-name>
    <url-pattern>/HRRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HRlogin</display-name>
    <servlet-name>HRlogin</servlet-name>
    <servlet-class>HRlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HRlogin</servlet-name>
    <url-pattern>/HRlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobRegistration</display-name>
    <servlet-name>JobRegistration</servlet-name>
    <servlet-class>JobRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRegistration</servlet-name>
    <url-pattern>/JobRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobRegistration1</display-name>
    <servlet-name>JobRegistration1</servlet-name>
    <servlet-class>JobRegistration1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRegistration1</servlet-name>
    <url-pattern>/JobRegistration1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JobRegister</display-name>
    <servlet-name>JobRegister</servlet-name>
    <servlet-class>JobRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobRegister</servlet-name>
    <url-pattern>/JobRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addquiz</display-name>
    <servlet-name>Addquiz</servlet-name>
    <servlet-class>Addquiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addquiz</servlet-name>
    <url-pattern>/Addquiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Applyjspans</display-name>
    <servlet-name>Applyjspans</servlet-name>
    <servlet-class>Applyjspans</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Applyjspans</servlet-name>
    <url-pattern>/Applyjspans</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Candidatedashbord</display-name>
    <servlet-name>Candidatedashbord</servlet-name>
    <servlet-class>Candidatedashbord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Candidatedashbord</servlet-name>
    <url-pattern>/Candidatedashbord</url-pattern>
  </servlet-mapping>
</web-app>